

body {
    font-family: var(--main-font-family);
    background-color: var(--background-clr-1);
    color: var(--foreground-clr-1);
    flex-shrink: 0;
    font-variant-ligatures: common-ligatures;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;

}


@font-face {
    font-family: 'PP Stellar Regular';
    src: url(/fonts/ppstellar-regular.woff2);
}



@font-face {
    font-family: 'PP Right Gothic Wide Black';
    src: url(/fonts/ppright-gothic-wide-black.woff2);
}




/* observer.js below-------*/

.fade-in {
    opacity: 0;
    transform: translateY(10rem);
    transition: all 600ms ease-in-out;
}

.fade-in.appear {
    opacity: 1;
    transform: translateY(0);
}

/* observer.js above ------*/


html {
    font-size: 18px;
    scroll-behavior: smooth;
}

:root {
    /*fonts */
    --main-font-family: 'Dm Sans', Arial, sans-serif;
    --display-font-family: 'PP Right Gothic Wide Black', Arial, sans-serif;
    --accent-font-family: 'PP Stellar Regular', Arial, sans-serif;
    --header-one-size: 3rem;
    --header-two-size: 2.25rem;
    --header-three-size: 1.5rem;

    /* colors */
    --clr-light-1: #fff;
    --clr-light-2: #cecece;
    --clr-dark-1: #070707;
    --clr-dark-2: #333;
    --clr-gray-1: #585858;
    --clr-gray-2: #666666;
    --foreground-clr-1: var(--clr-dark-1);
    --midground-clr-1: var(--clr-gray-1);
    --hover-clr-1: var(--clr-light-2);
    --background-clr-1: var(--clr-light-1);

    /* greeting animation */
    --bezier: cubic-bezier(.7, .01, 0, 1);
}



img {
    -ms-interpolation-mode: nearest-neighbor;
}

abbr {
    text-decoration: none;
}


header {
    max-width: 1280px;
    margin: 0 auto;
    animation: transitionInHeader 1400ms;
    animation-timing-function: ease-in-out;
}

@keyframes transitionInHeader {

    0% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

nav {
    font-family: var(--accent-font-family);
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    padding: 2rem 1.5rem;
}

nav a {

    text-decoration: none;
    color: var(--foreground-clr-1);
}

nav a:hover {
    filter: brightness(55%);
    text-decoration: underline;
}


.greeting {

    padding: 8rem 1.5rem 8rem 1.5rem;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    min-height: 25vh;

}


.greeting h1 {
    text-transform: uppercase;
    font-family: var(--display-font-family);
    color: var(--foreground-clr-1);
    margin-bottom: .75rem;
    animation: animateIn;
    animation-duration: 1200ms;
    animation-timing-function: var(--bezier);
    animation-delay: calc(var(--animation-order) * 200ms);

}

#xtra-large-display {
    font-family: var(--display-font-family);
    text-transform: uppercase;
    color: var(--foreground-clr-1);
    font-size: var(--header-one-size);
}


@keyframes animateIn {

    0% {
        transform: translateY(900px) rotateZ(20deg);

    }

    100% {
        transform: translateY(0px) rotateZ(0deg);

    }
}


main {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    animation: transitionInMain 600ms;
    animation-timing-function: ease-in-out;
}

@keyframes transitionInMain {

    from {
        opacity: 0;
        transform: translateY(5rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



.featured {
    max-width: 1280px;
    margin: 0 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(540px, 1fr));
    gap: 1.5rem;

}






.work {
    display: flex;
    flex-flow: column wrap;
}

.work a img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.work a img:hover {
    transform: scale(1.015);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.work .info {
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
    margin-top: 1rem;
}


.work .info h4 {
    font-family: var(--accent-font-family);
    text-transform: uppercase;
    font-size: var(--header-three-size);
    line-height: 1.15;

}


.work .info p {
    margin-top: 1rem;
    color: var(--midground-clr-1);
    max-width: 55ch;
    line-height: 1.65;
}

.work img {
    width: 100%;
}


.other {

    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}



.other h2 {
    font-family: var(--display-font-family);
    font-size: var(--header-one-size);
    text-transform: uppercase;
    line-height: 1.3;
    margin: 6rem 1.5rem 6rem 1.5rem;
}




.articles-grid-container {
    margin: 0 1.5rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 3rem;

}



.grid-article {
    display: flex;
    flex-flow: column wrap;
    height: fit-content;

}





.grid-article a {
    display: flex;
}

.grid-article img {
    width: 100%;
    transition: transform 300ms var(--bezier);
}


.grid-article .info {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    padding: 1rem 0;
    justify-content: space-between;
}

.grid-article .info h5 {
    font-family: var(--accent-font-family);
    text-transform: uppercase;
    margin-right: 2rem;
    line-height: 1.25;

}


.grid-article .info p {
    font-family: var(--accent-font-family);
    text-transform: uppercase;
    color: var(--midground-clr-1);
    line-height: 1.25;
}


/* Project page CSS */



.project-header {
    min-height: 65vh;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    padding: 8rem 1.5rem;
    flex-flow: column nowrap;
    justify-content: center;

}

.project-header h1 {

    font-family: var(--display-font-family);
    font-size: var(--header-one-size);
    color: var(--foreground-clr-1);
    text-transform: uppercase;
    margin-bottom: 0.75rem;
    animation: animateIn;
    animation-duration: 1400ms;
    animation-timing-function: var(--bezier);
    animation-delay: calc(var(--animation-order) * 200ms);
}

.project-header h2 {
    font-family: var(--accent-font-family);
    font-size: 1.25rem;
    color: var(--foreground-clr-1);
    text-transform: uppercase;
    margin: 3rem 0 1.5rem 0;
    animation: animateIn;
    animation-duration: 1400ms;
    animation-timing-function: var(--bezier);
    animation-delay: calc(var(--animation-order) * 200ms);
}

.project-header p {
    font-size: 1rem;
    color: var(--midground-clr-1);
    margin: 0 0 1rem 0;
    line-height: 1.65;
    animation: animateIn;
    animation-duration: 1600ms;
    animation-timing-function: var(--bezier);
    animation-delay: calc(var(--animation-order) * 200ms);

}

.full-width {
    width: 100%;
    max-height: 130vh;
    display: flex;
    overflow-y: hidden;
    justify-content: center;
    align-items: center;


}

.full-width img {
    width: 100%;
    object-fit: cover;

}

#iphone-6-video {
    padding-top: 1.5rem;
}

.half-width {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;

}

.project-asset {
    width: 50%;
    height: 50vw;
    background-color: #000000;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cover-width-img {
    width: 100%;
    object-fit: cover;
}

.cover-height-img {
    height: 100%;
    object-fit: cover;
}


.blurb {
    display: flex;
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    padding: 8rem 0;
}

.blurb p {
    font-size: 1rem;
    color: var(--midground-clr-1);
    margin: 1rem 0;
    line-height: 1.65;
    max-width: 55ch;
    margin: 0 1.5rem;
}

.blurb ul {
    margin: 1rem 1.5rem;
    color: var(--midground-clr-1);
    list-style: disc outside;
    padding-left: 1.5rem;

}

.blurb ul li {
    font-size: 1rem;
    max-width: 45ch;
    line-height: 1.5;
    margin-bottom: 1rem;
    padding-left: .5rem;

}


.next-project {
    padding: 8rem 1.5rem;
    font-family: var(--display-font-family);
    font-size: var(--header-three-size);
}

.next-project h2 a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--foreground-clr-1);
    line-height: 1.2;
}

.next-project h2 a:hover {
    cursor: pointer;
    text-decoration: underline;
}


footer {
    font-family: var(--accent-font-family);
    text-transform: uppercase;
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1280px;
    padding: 4rem 1.5rem;
}


#copyright {
    font-size: 1rem;
    padding: 1rem 0;
    color: var(--midground-clr-1);
}

#back-to-top {

    font-size: 1rem;
    text-decoration: none;
    color: var(--background-clr-1);
    padding: 0.75rem 1.5rem;
    background-color: var(--foreground-clr-1);
    border-radius: 4rem;
    width: fit-content;
    display: flex;
    align-items: center;

}

#back-to-top:hover {
    filter: brightness(55%);
    text-decoration: underline;

}


.contact {
    width: 100%;
    max-width: 1280px;

}

.contact h1 {
    font-family: var(--display-font-family);
    font-size: var(--header-one-size);
    text-transform: uppercase;
    line-height: 1.3;
    margin: 12rem 1.5rem 2rem 1.5rem;

}


.social-links {
    display: flex;
    flex-flow: row wrap;
    max-width: 1280px;
    margin: 0rem 1.5rem;
}

.social-links li,
.view-project {
    width: fit-content;
    display: flex;
    align-items: center;
    border-radius: 4rem;
    margin-top: 1.5rem;
    margin-right: 1rem;
    overflow: hidden;
    border: 1px solid var(--foreground-clr-1);

}


.social-links li a,
.view-project a {
    font-family: var(--accent-font-family);
    text-transform: uppercase;
    font-size: 1rem;
    text-decoration: none;
    color: var(--foreground-clr-1);
    padding: 0.75rem 1.5rem;
    transition: background-color 300ms ease-out;
}

.social-links li a:hover,
.view-project a:hover {
    background-color: var(--hover-clr-1);
}

.social-links li a:active {
    filter: brightness(.85);

}

.viewproject a:active {
    filter: brightness(.85);

}





/* media queries */

@media screen and (max-width:320px) {



    html {
        font-size: 14px;
    }

    :root {
        --header-one-size: 1.5rem;
        --header-two-size: 1.25rem;
        --header-three-size: 1.125rem;
    }

    #xtra-large-display {
        font-size: 3rem;
    }


    .articles-grid-container {
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        column-gap: 1rem;
    }


}

@media screen and (min-width: 321px) and (max-width:425px) {

    html {
        font-size: 16px;
    }

    :root {
        --header-one-size: 3rem;
        --header-two-size: 1.5rem;
        --header-three-size: 1.25rem;
    }

    #xtra-large-display {
        font-size: 3.5rem;
    }


    .articles-grid-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        column-gap: 1.5rem;
    }


    .grid-article .info h5 {
        margin-bottom: 1rem;
        margin-right: 0;
    }



 

}

@media screen and (max-width: 640px) {

    .half-width {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        

    }

    .project-asset {
        width: 100vw;
        height: 100vw;
    }
}


@media screen and (min-width:768px) {

    html {
        font-size: 18px;
    }

    :root {
        --header-one-size: 3rem;
        --header-two-size: 2rem;
    }

    #xtra-large-display {
        font-size: 6rem;
    }

    .articles-grid-container {
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
        column-gap: 1.5rem;
    }


}


@media (min-width:1024px),
screen and (orientation: landscape) {

    #xtra-large-display {
        font-size: 6rem;
    }

    .work {
        display: flex;
        flex-flow: column wrap;
        height: fit-content;
    }

    .work .info {
        margin-top: 2rem;
    }



    .work .info p {
        color: var(--midground-clr-1);
        max-width: 55ch;
        line-height: 1.65;
    }

    .articles-grid-container {
        grid-template-columns: repeat(auto-fit, minmax(320px));
    }



}

@media screen and (min-width:1280px) {


    :root {
        --header-one-size: 4rem;
        --header-two-size: 2.5rem;
        --header-three-size: 2rem;
    }

    #xtra-large-display {
        font-size: 7rem;
    }

    .articles-grid-container {
        grid-template-columns: repeat(auto-fit, minmax(360px));
    }



}


@media (prefers-color-scheme: dark) {
    :root {
        --background-clr-1: var(--clr-dark-1);
        --foreground-clr-1: var(--clr-light-1);
        --midground-clr-1: var(--clr-light-2);
        --hover-clr-1: var(--clr-dark-2)
    }
}