/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
   /* border: red 1px solid; */
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
    animation: fade 1s; 
}

@keyframes fade {

    from{ opacity: 0 }
    to{ opacity: 1 }
}


@font-face {
    font-family: "Agrandir Narrow";
    src: url(./fonts/Agrandir-Narrow.otf);
}

@font-face {
    font-family: "Agrandir Regular";
    src: url(./fonts/Agrandir-Regular.otf);
}

@font-face {
    font-family: "Agrandir Italic";
    src: url(./fonts/Agrandir-Italic.otf);
}

@font-face {
    font-family: "Agrandir Grand Heavy";
    src: url(./fonts/Agrandir-GrandHeavy.otf);
}

@font-face {
    font-family: "Agrandir Wide Black Italic";
    src: url(./fonts/Agrandir-WideBlackItalic.otf);
}

/* Navigation Styles------------------------------------------------------------------ */
    nav{
        display: flex;
        align-items: flex-start;
        width: 100%;
        height: 80px;
        justify-content: center;
        z-index: 12;
        overflow: hidden;
        position: fixed;
        top: 0;
        transition: all .5s ease;

    }

    .nav-active{
        background-color: rgba(255, 255, 255, 100);
        height: 100vh;
        
        
    }

    /* container for all navigation items */


    .nav-container{
        
        width: 100%;
        max-width: 1440px;
        padding: 0px 20px;
        height: auto;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        
    }

    .nav-bar{
        width: 100%;
        height: 80px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
       
    }


    .logo {
        width: auto;
    }

    .logo a {
        font-family: "Agrandir Regular";
        font-weight: normal;
        font-size: 20px;
        z-index: 11;
        text-decoration: none;
        color: black;
        cursor: pointer;
        
    }


    /* flex containter for navigation links */
    .nav-list{
        font-family: "Agrandir Narrow", sans-serif;
        font-weight: normal;
        font-size: 6vh;
        list-style: none;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: auto;            
    }

    .nav-list li {
        margin: 0px 0px 20px 0px;
        padding: 20px 0px 0px 0px;
    }

    .nav-list li a{
        text-decoration: none;
        color: black;
    }

    .nav-list li a:hover{
        text-decoration: underline;
    }

    .nav-list li a:active{
        text-decoration: underline;
    }


    .menubox{
        font-family: "Agrandir Italic";
        font-weight: normal;
        font-size: 20px;
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 16px;
        transition: background-color .2s ease;
        border-radius: 4px;
        cursor: pointer;
        z-index: 10;
    }

    .menubox:hover{
        background-color: rgba(0, 0, 0, 10%);
        
    }

    .menu{
        width: 24px;
        height: 18px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: flex-start;
        padding: 0px 0px 0px 10px;
        cursor: pointer;
    }


    .line1{
        height: 2px;
        width: 20px;
        background-color: black;

    }

    .line2{
        height: 2px;
        width: 12px;
        background-color: black;

    }

    .line3{
        height: 2px;
        width: 16px;
        background-color: black;

    }

    .toggle .line1{
        transform: rotate(-45deg) translate(-3px, 3px);
        transition: .2s ease;
        width: 20px;
     }

    .toggle .line2{
        opacity: 0%;
        transition: .2s ease;

    }

    .toggle .line3{
        transform: rotate(45deg) translate( -5px, -5px);
        transition: .2s ease;
        width: 20px;

    }
/* ------------------------------------------------------------Header & Main ------------------------------------------------------------------ */


header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.headline{
    width: 100%;
    height: auto;
    max-width: 1440px;
    margin: 60px 20px;
    
}

.headline h1 {
    font-family: "Agrandir Regular";
    font-size: 30px;
    font-weight: normal ;
    
}



/* ------------------------------------------------------------ Flex containers ------------------------------------------------------------------------ */

.flex-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}


.flex-container.about-project{
  
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 0px;
    position: fixed;
    bottom: 0;
    background-color: #ffffff;
    border-top: black solid 0px;
    z-index: 11;
    transition: all .5s ease;
}

.flex-container.about-project.project-open{ 
    border-top: black solid 1px;
    overflow-y: scroll;   
    height: 45vh;
    padding-bottom: 200px;
}

.flex-container.about-project.project-open::-webkit-scrollbar {
    display: none;
}

.about-project > * { 
    flex-shrink: 0; 
}


.toggle-btn {
    
    background-color: white;
    margin: 20px;
    font-family: "Agrandir Narrow";
    padding: 12px 30px;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease;
    border-radius: 4px;
    cursor: pointer;
    z-index: 10;
    
    
}

 .hide-btn{
    margin: 20px;
    font-family: "Agrandir italic";
    padding: 10px 30px;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease;
    border-radius: 4px;
    cursor: pointer;
    z-index: 10;
    
}



.toggle-btn:hover{
    transform: scale(1.1);
    background-color: rgba(235, 235, 235, 100%);
    
}

.toggle-btn:active{
    transform: scale(1.1);
    background-color: rgba(215, 215, 215, 100%);
    
}

.hide-btn:hover{
    background-color: rgba(0, 0, 0, 10%);
    
}

.bg-blue{
    background-color: #D1EBFD;
    padding-top: 80px;
}
.bg-orange{
    background-color: #FDEAD1;
    padding-top: 80px;
}

.bg-gray{
    background-color: #EDF0F5;
    padding-top: 80px;
}

.bg-black{
    background-color: #000000;
    padding-top: 80px;
}


.inner-flex{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    height: auto;
      
}


.inner-flex img {
    width: 100%;
      
}

.inner-flex h1 {
    width: auto;
    font-family: "Agrandir Wide Black Italic";
    font-weight: normal;
    text-align: center;
    font-size: 40px;
    margin: 0px 20px 0px 20px;
    padding: 80px 0px 60px 0px;
    
}


.inner-flex h2 {
    width: auto;
    font-family: "Agrandir Regular";
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    margin: 40px 20px 40px 20px;

}



.inner-flex h4 {
    width: auto;
    font-family: "Agrandir Regular";
    font-weight: normal;
    font-size: 20px;
    text-align: center;

}




.inner-flex.paragraph h4{
    width: 100%;
    font-family: "Agrandir Regular";
    font-weight: normal;
    font-size: 20px;
    text-align: left;
    margin: 20px 0px;
    padding: 0px 20px;
    
}


.inner-flex.paragraph p{
    font-family: "Agrandir Regular";
    font-size: 18px;
    font-weight: normal;
}


.inner-flex.work-row{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
    height: auto;
    width: auto;
    padding: 0px 0px 80px 0px;
}

.inner-flex.work-row{
    padding: 0px 0px 0px 0px;
}


.inner-flex.btn{
    display: flex;
    align-items: center;
    
}

.no-select{
    width: auto;
    height: auto;
    user-drag: none;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

}


a.work-box{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    background-color: #EDF0F5;
    width: 100%;
    max-width: 720px;
    height: auto;
    padding: 60px 20px 0px 20px;
    border-bottom: 1px solid black;
    margin: 0px 0px 0px 0px;
    text-decoration: none;
    color: black;
    overflow: hidden;

}


.work-box h1 {
    font-family: "Agrandir Regular";
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    width: auto;
    margin: 0px 0px 10px 0px;
    padding: 0px;
        
}

.work-box p {
    font-family: "Agrandir Italic";
    font-size: 18px;
    color: rgba(34, 43, 58, 100%);
    font-weight: normal;
    text-align: center;
    width: auto;
    margin: 0px 0px 40px 0px;
    padding: 0px;
        
}




a.work-box.full{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    background-color: #EDF0F5;
    width: 100%;
    max-width: 1440px;
    height: auto;
    text-decoration: none;
    padding: 60px 40px 60px 40px;
    border-bottom: 1px solid black;
    

}



.work-box img{
    height: 100%;
    
}

.rotate {
    animation: rotation 20s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }




.featured{
    display: flex;
   
}

.featured img{
    cursor: pointer;
  transition: all .3s ease-in-out;
}

.featured img:hover{
  transform: scale(1.05, 1.05);
  
}


figure{
    display: flex;
    flex-flow: column wrap;
    height: auto;
}

figcaption{
    padding-top: 10px;
    font-family: "Agrandir Narrow";
    font-size: 16px;
}

.inner-flex.inner-flex.paragraph ul{
    
    
    max-width: 1440px;
    display: flex;
    flex-flow: column wrap;
    height: auto;
    
}


.inner-flex li{
    padding-top: 10px;
    font-family: "Agrandir Regular";
    font-size: 18px;
    font-weight: normal;

}



.heading{
    padding-top: 80px;

}


.inner-flex.paragraph{
    display: flex;
    max-width: 650px;
    line-height: 1.5;
    
}

.inner-flex.paragraph p{
    margin-bottom: 20px;
    
}


.inner-flex.paragraph h5{
    padding-left: 40px;
    margin: 20px 0px 40px 0px;
    font-family: "Agrandir Grand Heavy";
    text-transform: uppercase;
    font-size: 20px;
    border-left: 2px solid black;

}




.inner-flex.project-info{
    width: auto;
    max-width: 650px;
    display: flex;
    margin: 0px 20px;
    padding: 20px 0px 40px 0px;
    flex-flow: row wrap;
    border-bottom: 1px solid black;

}


.inner-flex.project-info .row{
    width: 100%;
    height: auto;
    padding: 0px 0px 20px 0px;
    display: flex;
    justify-content: flex-start;
    flex-flow: column wrap;
}

.row h6{
    font-family: "Agrandir Italic";
    font-size: 16px;
    font-weight: normal;
    margin: 0px 0px 5px 0px;
}

.row p {
    font-family: "Agrandir Regular";
    font-size: 20px;
    font-weight: normal;
}


.related{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;   
    align-items: center;;
    width: auto;
    max-width: 1440px;
    height: auto;
    margin: 20px;
    
}


 .box h6{
    width: 100%;
    font-family: "Agrandir Narrow";
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    padding-top: 60px;

}

.box p {
    font-family: "Agrandir Regular";
    font-weight: normal;
    text-align: center;
    padding-top: 10px;
    color: #464852;
    

}

.box {
    margin-top: 40px;
    width: 90%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
    overflow: hidden;
    
    
}


.box img{
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.box img:hover{
    transform: scale(1.05, 1.05);

}


.scroll-flex{
    width: 100%;
    height: auto;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding: 25%;
    margin: 80px 0px;
    padding-right: 40px;

}
.scroll-flex::-webkit-scrollbar{
    display: none;
}





.scroll-box{
    height: fit-content;
    overflow: hidden;
    margin-left: 20px;
    margin-bottom: 40px;
    flex-shrink: 0;
    flex-grow: .5;
    scroll-snap-align: start;
    display: flex;  

}

.landscape{
    width: 385px;
    max-width: 790px;

}

.portrait{
    width: 300px;
    max-width: 600px;
}






.scroll-box img{
    width: 100%;
    height: auto;
}





/* ----------------------------------------------------------------MAIN BUTTON STYLES ----------------------------------------------------------------*/


.button-flex{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0px 80px 0px;

    
}

button{
    width: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 16px;
    background-color: white;
    font-family: "Agrandir Narrow";
    font-size: 20px;
    font-weight: normal;
    border: black solid 1.5px;
    border-radius: 30px;
    transition: all .2s ease;
    
    cursor: pointer;
}



button:hover{
    transform: translateY(-5px);
    background-color: rgba(0, 0, 0, 15%);
    font-family: "Agrandir Narrow";
}

button:hover .icon-arrow-right{
    transform: translateX( 4px);
    transform: rotate(-45deg);
}

button:active{
    background-color: black;
    color: white;
}

button:active .arrow-body{
    background-color: white;
}

button:active .arrow-head1{
    background-color: white;
}

button:active .arrow-head2{
    background-color: white;
}


.icon-arrow-right{
    width: 24px;
    height: 24px;
    margin-left: 12px;
    transition: all .2s ease;

}

.arrow-body{
    width: 17px;
    height: 2px;
    position: relative;
    top: 10px;
    background-color: black;
    
}

.arrow-head1{
    position: relative;
    right: -11px;
    top: 5px;
    width: 10px;
    height: 2px;
    background-color: black;
    transform: rotate(45deg);
    
}
.arrow-head2{
    position: relative;
    right: -11px;
    top: 9px;
    width: 10px;
    height: 2px;
    background-color: black;
    transform: rotate(-45deg);
}


/* ----------------------------------------------------------------Media queries ----------------------------------------------------------------*/





@media screen and (min-width: 720px) {


    .nav-container{
        padding: 0px 40px;
 
    }

    .headline h1 {
        font-size: 40px;
           
    }


    .section-header{

        margin: 60px 20px;
    }

    .inner-flex h2 {
        width: auto;
        font-size: 60px;
        text-align: left;
        margin: 40px;

    
    }

    .inner-flex.btn{
        display: flex;
        align-items: flex-start;   
    
    }

    .toggle-btn {
        margin: 20px 40px;

    }



    #transition{
        background-color: white !important;
    }

    .inner-flex.project-info{
        margin: 0px 0px;
    }


    .inner-flex.project-info .row{
        width: 50%;
    }

    .inner-flex.work-row{
        padding: 80px 80px;
    }




    a.work-box{
        padding: 80px 60px 0px 60px;
        margin: 0px 0px 80px 0px;
        border-bottom: 0px ;
    }

    a.work-box.full{
        padding: 80px 60px 60px 60px;
        margin: 0px 0px 0px 0px;
        border-bottom: 0px solid black;
    
    }


    .work-box h1 {
        font-size: 40px;
        padding: 0px;
    }

    .work-box p {
        font-size: 24px;
    }

   

    .related {
        justify-content: space-around;
        align-content: space-between;
        height: 1930px;
        margin: 40px;
    }

    .box {
        width: 45%;
        justify-content: flex-start;
        height: auto;
        
    
    }

}

@media screen and (min-width: 1280px) {


    

    .headline{
  
        margin: 200px 20px;
        
    }

    .headline h1 {
        font-size: 60px;
        
    }

    .about{
        height: 600px;
        justify-content: center;
        align-content: space-between;
        
    }


 
    .about p{
        height: auto ;
        width: 75%;  
    }

 
    .inner-flex h1 {
        padding: 80px 0px 60px 0px;
    }

    .inner-flex h2{
        
        font-size: 80px;
        margin: 60px 40px 40px 40px;
        width: auto;
        
    }




   .inner-flex.work-row{
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    max-height: 3200px;
    padding: 80px 80px;

}

.inner-flex.work-row.full{
    padding: 0px 80px;

}

    a.work-box{
        width: 47%;
        max-width: 700px;
        padding: 80px 60px 0px 60px;
        margin: 0px 0px 60px 0px;
    }

    a.work-box.full{
        padding: 80px 60px 80px 60px;
    }



    .work-box h1 {
        text-align: left;
        margin: 0px 0px 10px 0px;
        padding: 0px;
           
    }

    .work-box p {
        text-align: left;
        margin: 0px 0px 40px 0px;
    }

    .hide-btn{
        position: fixed;
        transform: translateY(232px);
    }



    .flex-container.about-project.project-open{ 
        overflow-y: scroll;   
        height: 65vh;
    }

   

    .past{
        justify-content: space-around;
        align-content: space-between;
        height: 2400px;
    
    }


    .bg-blue{
        background-color: #D1EBFD;
        padding-top: 120px;
    }
    .bg-orange{
        background-color: #FDEAD1;
        padding-top: 120px;
    }
    
    .bg-gray{
        background-color: #EDF0F5;
        padding-top: 120px;
    }
    
    .bg-black{
        background-color: #000000;
        padding-top: 120px;
    }
  


}

@media screen and (min-width: 1600px){


    .nav-container{
        padding: 0px 0px;
 
    }
    .inner-flex.work-row{
        display: flex;
        flex-flow: column wrap;
        align-content: space-between;
        align-items: center;
        padding: 80px 0px;
    
    }

    .inner-flex.work-row.full{
        padding: 0px 0px;
    
    }



    .toggle-btn {
        margin: 20px 0px 40px 8px;

    }


    .inner-flex h2{
        margin: 60px 0px 40px 0px;
    }



}



